<div class="row">
  <div class="col-12">
    <h1 class="mb-4">Entrar</h1>
  </div>

  <div class="col-md-6 mx-auto">
    <%= form_with url: entrar_path, method: :post, scope: :session, local: true do |f| %>

      <div class="mb-3">
        <%= f.label :email, class: 'form-label' %>
        <%= f.email_field :email, placeholder: 'Email', class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :password, class: 'form-label' %>
        <%= f.password_field :password, placeholder: 'Senha', class: 'form-control' %>
      </div>

      <div class="d-grid">
        <%= f.submit 'Entrar', class: 'btn btn-primary' %>
      </div>

    <% end %>
  </div>
</div>
