<%= render 'shared/error_messages', object: f.object %>

<div class="mb-3">
  <%= f.label :name, class: 'form-label' %>
  <%= f.text_field :name, class: 'form-control', placeholder: 'Digite seu nome' %>
</div>

<div class="mb-3">
  <%= f.label :email, class: 'form-label' %>
  <%= f.email_field :email, class: 'form-control', placeholder: 'Digite seu e-mail' %>
</div>

<div class="mb-3">
  <%= f.label :password, class: 'form-label' %>
  <%= f.password_field :password, class: 'form-control', placeholder: 'Digite sua senha' %>
</div>

<div class="mb-3">
  <%= f.label :password_confirmation, class: 'form-label' %>
  <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirme sua senha' %>
</div>
